/* Main */

img{
    width:10%;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: purple;
}

.my-bg-color{
    height:85vh;
    background-image: url(../img/minefield-background.jpg);
}

.my-brown-bg{
    background-color:rgba(191, 124, 43, 0.5);
}


.my-square{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0;

    border: black solid 2px;
    cursor: pointer;
}

.my-square span{
    color: white;
    font-weight:600;
}

.my-square.active{
    background-color: rgb(123, 123, 71);
}

.my-square.bomb{
    color:black;
    background-color: rgb(152, 19, 19);
}

.my-block{
    display:block;
}

#my-grid{
    display:flex;
    flex-wrap:wrap;
    align-items:center;

    width:72vh;
    height: 72vh;

    padding:0;
}
