.my-bg-color{
    background-image: url(../img/minefield-background.jpg);
    height:85vh;
}


.my-brown-bg{
    background-color:rgba(191, 124, 43, 0.5);
}
img{
    width:10%;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: purple;
}


#my-grid{
    width:72vh;
    height: 72vh;
    padding:0;
    display:flex;
    flex-wrap:wrap;

    align-items:center;

}

.my-square{
    /* width: calc(100% / 7);
    height: calc(100% / 7); */
    border: black solid 2px;

    cursor: pointer;
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0;
}

.my-square span{
    color: white;
    font-weight:600;
}

.my-square.active{
    background-color: rgb(123, 123, 71);
}

.my-square.bomb{
    background-color: rgb(152, 19, 19);
    color:black;
}